@model EntityLayer.Concrete.Writer

@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

@using (Html.BeginForm("WriterEditProfile", "Writer", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1>Profili Düzenle</h1>
                <br />
                <form class="forms-sample">
                    @Html.HiddenFor(x => x.WriterID, new { @class = "form-control" })
                    @Html.HiddenFor(x => x.WriterImage, new { @class = "form-control" })
                    @Html.HiddenFor(x => x.WriterStatus, new { @class = "form-control" })
                    <div class="form-group">
                        <h4>Ad - Soyad</h4>
                        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control"})
                        @Html.ValidationMessageFor(x => x.WriterName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <h4>Email adresi</h4>
                        @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control"})
                        @Html.ValidationMessageFor(x => x.WriterMail, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <h4>Şifre</h4>
                        @Html.PasswordFor(x => x.WriterPassword, new { @class = "form-control"})
                        @Html.ValidationMessageFor(x => x.WriterPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <h4>Görsel</h4>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled placeholder="Resim Yükle">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-gradient-primary" type="button">Resim Seç</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <h4>Hakkında</h4>
                        @Html.TextAreaFor(x => x.WriterAbout, 10, 3, new { @class = "form-control"})
                        @Html.ValidationMessageFor(x => x.WriterAbout, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                    <button class="btn btn-light">İptal</button>
                </form>
            </div>
        </div>
    </div>
}

