@model EntityLayer.Concrete.Message
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Mesaj Yolla</h1>
<br />

@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
    <h4>Alıcı</h4>
    @Html.DropDownListFor(x => x.ReceiverID, (List<SelectListItem>)ViewBag.receivers, new { @class = "form-control" })
    <br />
    <h4>Konu</h4>
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Subject, "", new { @class = "text-danger" })
    <br />
    <h4>Mesaj</h4>
    @Html.TextAreaFor(x => x.MessageDetails, 10, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.MessageDetails, "", new { @class = "text-danger" })
    <br />
    <div class="d-flex justify-content-center"><button class="btn btn-inverse-success" style="width: 220px">Gönder</button></div>
}