@model LargeWidgetViewModel 

<div class="row">
    <div class="col-lg-4">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    @ViewBag.adminName
                </h2>
                <small>Yönetici</small>
            </div>
            <img src="@ViewBag.adminImage" class="rounded-circle circle-border m-b-md" alt="profile">
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading">@ViewBag.adminName</h4>
            <p>@ViewBag.adminAbout</p>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-address-card fa-4x"></i>
                <h1 class="m-xs">@Model.RoleCount</h1>
                <h3 class="font-bold no-margins">
                    Rol
                </h3>
            </div>
        </div>
        <div class="widget  p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-info-circle fa-4x"></i>
                <h1 class="m-xs">@Model.Date.ToShortDateString()</h1>
                <h3 class="font-bold no-margins">
                    Tarih
                </h3>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget lazur-bg p-xl">

            <h2>
                @ViewBag.adminName
            </h2>
            <ul class="list-unstyled m-t-md">
                <li>
                    <span class="fa fa-envelope m-r-xs"></span>
                    <label>Email:</label>
                    info@pureblog.com.tr
                </li>
                <li>
                    <span class="fa fa-home m-r-xs"></span>
                    <label>Adres:</label>
                   Yalova, Çınarcık
                </li>
                <li>
                    <span class="fa fa-phone m-r-xs"></span>
                    <label>İletişim:</label>
                    (+90) XXX XXX 71 70
                </li>
            </ul>
        </div>
        <div class="widget red-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-bell fa-4x"></i>
                <h1 class="m-xs">@Model.NotificationCount</h1>
                <h3 class="font-bold no-margins">
                    Bildirim
                </h3>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-trophy fa-4x"></i>
                <h1 class="m-xs">@Model.PassiveBlogCount</h1>
                <h3 class="font-bold no-margins">
                    Pasif Blog
                </h3>
            </div>
        </div>
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-warning fa-4x"></i>
                <h1 class="m-xs">@Model.PassiveCategoryCount</h1>
                <h3 class="font-bold no-margins">
                    Pasif Kategori
                </h3>
            </div>
        </div>
    </div>
</div>