@model Core.Models.UserRegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Ol</title>
    <link href="~/inspinia-gh-pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/animate.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div style="text-align:center">
                <h1 style="text-align:center; font-size:100px" class="logo-name">PureBlog</h1>
            </div>
            <h3>PureBlog'a kayıt ol</h3>
            <p>Düşüncelerini paylaşmak için kayıt ol.</p>
            <form class="m-t" role="form" asp-action="Index">
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="Kullanıcı-Adı">
                    <span asp-validation-for="@Model.UserName" class="text-danger validation-message"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="@Model.NameSurname" placeholder="Ad-Soyad" >
                    <span asp-validation-for="@Model.NameSurname" class="text-danger validation-message"></span>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" asp-for="@Model.Email" placeholder="Email" >
                    <span asp-validation-for="@Model.Email" class="text-danger validation-message"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Şifre" >
                    <span asp-validation-for="@Model.Password" class="text-danger validation-message"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Şifre-Tekrar">
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger validation-message"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Sözleşmeyi kabul ediyorum. </label></div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Kayıt Ol</button>
                <p class="text-muted text-center"><small>Hesabın var mı?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/RegisterUser/Login/">Giriş Yap</a>

                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </form>
        </div>
    </div>
    <script src="~/inspinia-gh-pages/js/jquery-3.1.1.min.js"></script>
    <script src="~/inspinia-gh-pages/js/popper.min.js"></script>
    <script src="~/inspinia-gh-pages/js/bootstrap.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
    <style>
        .validation-message {
            display: block;
            text-align: left;
            margin-top: 5px;
        }
    </style>
</body>
</html>
